.heroContainer {
  display: flex;
  align-items: center;
  background-image: url(../../assets/HeroDefault/hero2.png);
  height: 400px;
  background-position: right 30% bottom 45%;;
  justify-content: flex-end;

  &__text {
    // background-color: rgb(16, 18, 18);
    color: white;
    margin: 10px;
    margin-right: 50px;
    text-align: right;
  }
}
