

.whowTo-section {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(234, 179, 15,0.5);
  /*background: #C33764;   fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(233, 225, 116, 0.8), rgba(234, 179, 15,0.5)), url("cityBackground.jpg");
  background: linear-gradient(rgba(233, 225, 116, 0.8), rgba(234, 179, 15,0.5)), url("cityBackground.jpg"); /* The least supported option. */
  /*background-image: url('cityBackground.jpg') ;*/
  background-repeat: no-repeat;
  background-size: cover;
}
.whowTo-section__title {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color:#ffffff;
  background: #eab30f;
  padding: 10px;
  position: sticky;
  top: 0;
  max-width: 1250px;
}
.whowTo-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  max-width: 1200px;
}
.whowTo-services__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 400px;
  background: #fcfafc;
}
img {
  border-radius: 5px 5px 0 0;
}
h3{
  color:#eab30f;
}

/*@media (min-width: 376px) {
  .whowTo-section {
    width: auto;
    background-color: rgba(234, 179, 15,0.5);
    background: 'cityBackground.jpg';
  }
}*/
